<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css">
        .imgStyle {
            width: 150px;
            height: 150px;
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>

</head>
<body>
<div class="container">

    <div class="row">
        <div>
            <ul class="nav navbar-nav navbar-right">
                {% if session['logged_in'] == True %}
                    <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">Albums</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Download</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>
                        <p> {{ loop.index }}</p>
                    </td>
                    <td>
                        <a href="{{ url_for('get_album', image=image.image) }}">
                            {#                            <p> {{ date.date }}</p>#}
                        </a>
                    </td>
                    {##}
                    {#                    <td>#}
                    {#                        <a href="{{ url_for('delete_album', album_id=date.uid, date=date.date) }}">#}
                    {#                            <button class="btn-danger" type="button" onclick="tryReload()">Delete</button>#}
                    {#                        </a>#}
                    {#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script>
    let tryReload = function () {
        setTimeout(function () {
            window.location.reload();
        }, 400);
    }
</script>
</body>
</html>